.header {
  background-color: #1c1c21;
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.menu_part_left {
  display: flex;
  align-items: center;
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  transition: color 0.3s;
}

.link_active {
  color: #f2f2f3;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
